<footer class="footer">

<div class="container">
  <div class="columns">
    <div class="column">
      <ul>
        <li><a href="/"><h3 class="is-white is-marginless">Home</h3></a></li>
        <li><a href="/about"><h3 class="is-white is-marginless">About</h3></a></li>
        <li><a href="/work"><h3 class="is-white is-marginless">Our Work</h3></a></li>
        <li><a href="/contact"><h3 class="is-white is-marginless">Contact Us</h3></a></li>
        <li><a href="/faq"><h3 class="is-white is-marginless">Frequently Asked Questions</h3></a></li>
      </ul>
    </div>
    <div class="column has-text-right is-4">
      <p class="is-white">{{ site.description }}</p>
      <div class="columns has-text-centered is-mobile give-me-space">
        <div class="column"><a href="http://www.facebook.com/GloriousSugarCreations/" target="_blank"><i class="fa fa-facebook-square fa-2x is-white" aria-hidden="true"></i></a></div>
        <div class="column"><a href="http://www.instagram.com/glorioussugarcreations/" target="_blank"><i class="fa fa-instagram fa-2x is-white" aria-hidden="true"></i></a></div>
        <div class="column"><a href="http://www.yelp.com/biz/glorious-sugar-creations-south-bend" target="_blank"><i class="fa fa-yelp fa-2x is-white" aria-hidden="true"></i></a></div>
        <div class="column"><a href="mailto:gscreations12@yahoo.com" target="_blank"><i class="fa fa-envelope fa-2x is-white" aria-hidden="true"></i></a></div>
      </div>
    </div>
  </div>
  <p class="is-white has-text-centered">© Copyright 2016 Glorious Sugar Creations</p>
</div>

</footer>
