<header class="nav is-fixed-top">
      <div class="container">
        <div class="nav-left">
          <a class="nav-item is-brand" href="/">
            <img src="{{ site.baseurl }}/assets/images/logo-cake.png" alt="Glorious Sugar Creations logo">
          </a>
        </div>
        <span class="nav-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="nav-right nav-menu">
          <a href="/" class="nav-item">
            Home
          </a>
          <a href="/about" class="nav-item has-text-centered">
            About
          </a>
          <a href="/work" class="nav-item">
            Our Work
          </a>
          <a href="/contact" class="nav-item">
            Contact
          </a>
        </div>
      </div>
</header>
