<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <div class="page-content">
        {{ content }}
    </div>

    {% include footer.html %}
    <!-- Google analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-86127106-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script src="{{ site.baseurl }}/javascript/jquery.js"></script>
    <script src="{{ site.baseurl }}/javascript/main.js"></script>
    <script src="{{ site.baseurl }}/javascript/instafeed.js"></script>
    <!-- Schema markup -->
    <script type="application/ld+json">
      { "@context" : "http://schema.org",
        "@type" : "Organization",
        "name" : "Glorious Sugar Creations",
        "legalName" : "Glorious Sugar Creations",
        "url" : "http://glorioussugarcreations.com/",
        "telephone": "+15745146792",
        "logo" : "http://glorioussugarcreations.com/assets/images/og-logo.png",
        "sameAs" : [ "http://www.facebook.com/glorioussugarcreations",
          "http://www.instagram.com/glorioussugarcreations/",
          "https://www.pinterest.com/glorioussugarcr/"]
      }
    </script>
  </body>

</html>


